* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    background-image: url(/Css/img/Illustration\ 2.png);

}

.fundo-nossos-servicos {
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.paragrafo {
    font-size: 25px;
}
